* {
    margin: 0;
    padding: 0;
}
.mynavbar{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    box-shadow: 0px 0px 30px rgb(0 0 0 / 10%);
    position: fixed;
    top: 0;
    z-index: 15;
}
.mynavbar .call a{
  color: rgb(99, 185, 99);
  text-decoration: none;
  font-size: 13px;
  font-weight: 600;
  transition: .3s;
}
.mynavbar .call a:hover{
  color: rgb(119, 119, 168);
}
.mynavbar .call button{
  padding: 7px 20px;
  border: none;
  background-color: #275cae;
  border-radius: 6px;
  color: white;
  font-size: 14px;
}
.mynavbar .main-ankers{
  color: black;
  text-decoration: none;
  font-size: 13px;
  font-weight: 600;
  padding-left: 10px;
  transition: .3s;
}
.mynavbar .main-ankers:hover{
  color: var(--aqua);
}
/* The side navigation menu */
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 16; /* Stay on top */
    top: 0; /* Stay at the top */
    right: 0;
    background-color: #292929; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
  }
  
  /* The navigation menu links */
  .sidenav .top{
    width: 80% !important;
    position: absolute;
    top: 10px;
  }
  .sidenav .a {
    width: 100%;
    padding: 4px 8px 4px 20px;
    text-decoration: none;
    font-size: 18px;
    color: #ffffff;
    display: block;
    transition: 0.3s;
  }
  
  /* When you mouse over the navigation links, change their color */
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  /* Position and style the close button (top right corner) */
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 15px;
    font-size: 36px;
    text-decoration: none;
    color: #f1f1f1;
  }
  
  /* Style page content - use this if you want to push the page content to the right when you open the side navigation */
  
  /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }

  /* Dropdown Button */
.dropbtn {
    background-color: transparent;
    color: black;
    padding-left: 5px;
    font-size: 13px;
    border: none;
    font-weight: 600;
  }
  .dropbtn:hover{
    color: var(--aqua);
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 8px;
    transition: .3s;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 16px 16px;
    text-decoration: none !important;
    font-size: 12.8px;
    border-bottom: solid .5px rgb(233, 233, 233);
    display: block;
    transition: .3s;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {color: rgb(31, 164, 216);}
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {display: block;}
  
  /* Change the background color of the dropdown button when the dropdown content is shown */
  .dropdown:hover .dropbtn {background-color:transparent;
    opacity: .5;
}
@media screen and (min-width:1023px){
  .mynavbar .call .on{
    display: none;

  }
  .mynavbar .call{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 10px;
  }
  .mynavbar{
    padding: 3px 35px;
}
}
@media screen and (min-width:1024px) and (max-width:1200px) {
  .mynavbar .call a{
    font-size: 8px !important;
  }
  .dropdown-content a {
    font-size: 8px !important;
  }
  .dropbtn {
    font-size: 8px !important;
  }
  .mynavbar .main-ankers{
    font-size:8px !important;
  }
  .mynavbar .call button{
    font-size: 8px !important;
  }
}
@media screen and (min-width:280px) and (max-width:1023px) {
  .mynavbar .call a{
    display: none;
  }
  .dropdown-content a {
    display: none;
  }
  .dropbtn {
    display: none;
  }
  .mynavbar .main-ankers{
  display: none;
  }
  .mynavbar .call button{
    display: none;
  }
  .mynavbar .no{
    display: none;
  }
  .mynavbar .call{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-top: 10px;
  }
  .sidenav3{
    display: none;
  }
}
.dropbtn1 {
  margin: 4px 0 4px 16px;
  background-color: transparent;
  color: white;
  padding-left: 5px;
  font-size: 18px;
  border: none;
  outline: none !important;
}

/* The container <div> - needed to position the dropdown content */
.dropdown1 {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content1 {
  display: none;
  position: absolute;
  background-color: #292929;
  width: 200px;
  z-index: 1;
  border-radius: 8px;
  transition: .3s;
}

/* Links inside the dropdown */
.dropdown-content1 a {
  color: rgb(255, 255, 255);
  padding: 16px 16px;
  text-decoration: none !important;
  font-size: 12.8px;
  border-bottom: solid .5px rgb(233, 233, 233);
  display: block;
  transition: .3s;
}

/* Change color of dropdown links on hover */
.dropdown-content1 a:hover {color: rgb(31, 164, 216);}

/* Show the dropdown menu on hover */
.dropdown1:hover .dropdown-content1 {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown1:hover .dropbtn1 {background-color:transparent;
  opacity: .5;
}
@media screen and (min-width:320px) and (max-width:599px)  {
  .sidenav .top{
    width: 40% !important;

  }
}
@media screen and (min-width:600px) and (max-width:768px)  {
  .sidenav .top{
    width: 29% !important;

  }
}
@media screen and (min-width:769px) and (max-width:1600px)  {
  .sidenav{
    display: none;
  }
}
/* The side navigation menu */
.sidenav3 {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 16; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: #1f276e; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav3 .a {
  padding: 0 8px 0 65px;
  text-decoration: none;
  font-size: 43px;
  color: white;
  display: block;
  transition: 0.3s;
  text-decoration: none;
  font-weight: 300;
}
.sidenav3 .top{
  height: fit-content;
  margin-top: 70px;
  margin-bottom: 60px;
}

/* When you mouse over the navigation links, change their color */
.sidenav3 a:hover {
  text-decoration: none;
  color: #275cae;
}

/* Position and style the close button (top right corner) */
.sidenav3 .closebtn {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 50px;
  color: #999191;
  font-weight: 100 !important;
}
.sidenav3 .closebtn:hover{
  color: #999191;
}
.sidenav3 .lefticon1{
  margin-top: 40px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.sidenav3 .lefticon1 a {
  text-decoration: none;
  font-size: 14px;
  color: white;
  display: block;
  transition: 0.3s;
  font-weight: 300;
}
.sidenav3 .lefticon1 a:hover {
  text-decoration: none;
  color: #275cae;
}
.sidenav3 .lefticon{
  margin-top: 50px;
}
.sidenav3 .lefticon p{
  margin-left: 62px;
  font-size: 14px;
  color: white;
}
/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav3 {padding-top: 15px;}
  .sidenav3 a {font-size: 18px;}
}  


.slick-slide img {
  display: unset;
}

.slick-prev:before {
  color: #3c3c3c;
  font-size: 50px;
}

.slick-next:before {
  font-size: 50px;
  opacity: 1;
  color: #3c3c3c;
}

.slick-prev {
  left: -60px;
}

.slick-dots {
  bottom: -50px;
}

.slick-dots li button:before {
  color: #03ff75;
}

@media screen and (min-width:1024px) and (max-width:1240px) {
  .slick-prev:before {
      color: rgba(199, 197, 197, 0.685);
      font-size: 50px;
      display: none;
  }

  .slick-next:before {
      font-size: 50px;
      opacity: 1;
      color: rgba(199, 197, 197, 0.685);
      display: none;
  }
}