*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
    

}
:root {
    --blue: #041f65 ;
    --purple:#1f276e;
    --aqua:#2aa9e0;
    --lightblack:#1c1c1c;
    --silver:#7c89a1;
    --green:#4fbb52;
    --backgroundlgr:#8fc920;
    --backgrounddlg:#3fb963;
    --white: #ffffff;
    --fontsizelg:48px;
    --fontsizeslg:20px;
    --fontsizemd:16px;
    --fontsizesm:11px;
}

button{
    border: none;
    outline: none;
    color: var(--white);
    cursor: pointer;
}
.banner_main{
    width: 100% !important;
    background: var(--blue) url(images/banner-overlay.png);
    background-repeat: no-repeat;
    min-height: 1000px;
    background-position: center top;
    background-size: cover;
    position: relative;
    margin-bottom: 40px;
}

.banner_main::before{
   height: 295px;
    content: '';
    background: url(images/banner-bottom.png);
    position: absolute;
    bottom: 0px;
    left: 0;
    background-position: center bottom;
    background-size: cover;
    width: 100%;
    z-index: 1;
    box-sizing: border-box;
}
.banner_section h1{
    padding-top: 250px;
    font-weight: lighter; 
    font-size: 72px; 
    margin: 0px;
    letter-spacing: 1px;
    line-height: 76px;
    color:var(--white);
     font-family:Zen Kaku Gothic New, sans-serif; 
}
.banner_section p{
    font-size: 25px;
    font-weight: 300;
    color:var(--white);
    margin-top: 20px;
    margin-bottom: 30px;
}
.banner_section button{
    background: var(--backgroundgr); 
    background: -moz-linear-gradient(left, var(--backgroundlgr) 0%, var(--backgrounddlg) 100%);
    background: -webkit-linear-gradient(left, var(--backgroundlgr) 0%, var(--backgrounddlg) 100%); 
    border-radius: 6px;
    min-width: 270px;
    height: 65px;
    text-transform: capitalize;
    font-size: var(--fontsizemd);
    font-weight: lighter;
    
}
.banner_section .a1{
    text-decoration: none;
    color: var(--white);
    font-family: 'Roboto', sans-serif;;
    padding-left: 15px;
    text-transform: capitalize;
    font-size: var(--fontsizemd);
    font-weight: lighter;
}
.banner_section .a1 img{
    width: 20px;
}
.banner_section .bg_img .img1{
    
    position: absolute;
    top: 155px;
    left:13px ;
    padding: 0;
    
}
.banner_section .bg_img .img2{
    padding: 0;
    position: absolute;
    right: -61px;
    top: 80px;
    width: 900px; 
}
.contant_section{
    width: 100%;
    height: 650px;
}
.contant_section h3{
   
    font-weight: 300;
    font-size: var(--fontsizeslg);
}
.contant_section h1{
    font-weight: 600;
    color: var(--purple);
    font-size: var(--fontsizelg);
}
.contant_section p{
    color: var(--silver);
    max-width: 800px;
    margin: 20px auto; 
}
.contant_section .trusted_clients {
    text-align: center;
    padding-top: 20px;
}
.contant_section a{
    font-size: 22px;
    padding-top: 50px;
    font-weight: 500;
}
.contant_section a .circle{
    transition: .3s;
}
.contant_section a .circle:hover{
    width: 20px;
    height: 20px;
    border: 1px solid var(--green);
    border-radius: 20px;
}
.cards_height{
    width: 100%;
    height: 650px;
}
.cards_section .cards1{
    background-color: white;
    transition: .5s;
    border: none;
}
.cards_section .cards1:hover{
    border-radius: 10px;
    background-color: white;
    box-shadow: 6px 4px 6px 4px rgb(231, 230, 230);
}
.cards_section h1{
    font-weight: 600;
    color: var(--purple);
    font-size: var(--fontsizelg);
}
.cards_section .p1{
    width: 800px;
     margin: 20px auto; 
}
.cards_section .cards1 h3{
    color: black;
    font-weight: 300;
    font-size: var(--fontsizeslg);
}
.cards_section .cards1 h3:after {
    content: '';
    display: block;
    position: relative;
    width: 40px;
    height: 2px;
    background: #399ed7;
    background: -moz-linear-gradient(left, #399ed7 0%, #2553ac 100%);
    background: -webkit-linear-gradient(left, #399ed7 0%, #2553ac 100%);
    background: linear-gradient(to right, #399ed7 0%, #2553ac 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#399ed7', endColorstr='#2553ac', GradientType=1);
    margin: 20px 0px;
}
.cards_section .cards1 p{
    font-size: 17px;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
  
}
.cards_section .cards1 a{
    font-size: 17px;
}
.cards_section .cards1 a .circle{
    transition: .5s;
}
.cards_section .cards1 a .circle:hover{
    width: 20px;
    height: 20;
    border: 1px solid var(--green);
    border-radius: 50px;
}
.cards_section  .a2 {
    display: flex ;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    padding-top: 60px;
}
.cards_section  a button{
    margin-bottom: 20px;
    background: var(--backgroundgr); 
    background: -moz-linear-gradient(left, var(--backgroundlgr) 0%, var(--backgrounddlg) 100%);
    background: -webkit-linear-gradient(left, var(--backgroundlgr) 0%, var(--backgrounddlg) 100%); 
    border-radius: 6px;
    min-width: 270px;
    height: 65px;
    text-transform: capitalize;
    font-size: var(--fontsizemd);
    font-weight: lighter;
}
.bg {
    background-image: url("images/banner-img.png");
    background-size: cover;
    height: 1050px;
}
.banner-1{
    padding-top: 200px;

}
.banner-1 .banner1 h1{
    color: #fff;
    font-size: 3rem;
    font-family:Zen Kaku Gothic New, sans-serif; 
}
.banner-1 .banner1 p{
    color:#7c98e7;
    font-size: 1.5rem;
    width: 500px;
    font-family:Zen Kaku Gothic New, sans-serif; 
}
.banner-1 .banner2{
    margin-top: 40px;
}
.banner-1 .banner3{
    margin-top: 40px;
}
.banner-1 .banner3 h1{
    color:#fff;
    font-size: 1.8rem;
    font-family:Zen Kaku Gothic New, sans-serif; 
}
.banner-1 .banner3 p{
    color:#fff;
    font-size: 1rem;
    font-family:Zen Kaku Gothic New, sans-serif; 
}
.banner-1 a{
    margin: 30px 0 0 120px;
    font-size: 1.2rem;
}
.banner-1 .a1{
    padding-left:20px;
    font-size: 18px;
}
.banner-1 .a1 .circle{
    transition: .7s;
}
.banner-1 .a1 .circle:hover{
    width: 20px;
    height: 20px;
    border: 1px solid var(--aqua);
    border-radius: 50px;
}
.fadein{
    width: 100%;
    height: auto;
}
.fadein h3{
    color:var(--aqua) ;
    font-weight: 700;
    font-size:24px;
    font-family:Zen Kaku Gothic New, sans-serif; 
}
.fadein h1{
    font-weight: lighter; 
    font-size: 75px; 
    margin: 0px;
    letter-spacing: 1px;
    line-height: 76px;
    color:var(--lightblack);
     font-family:Zen Kaku Gothic New, sans-serif; 
}
.fadein p{
    font-size: 27px;
    font-weight: 300;
    color:var(--silver);
    margin-top: 20px;
    margin-bottom: 30px;
    font-family:Zen Kaku Gothic New, sans-serif; 
}
.fadein button{
    background: var(--backgroundgr); 
    background: -moz-linear-gradient(left, var(--backgroundlgr) 0%, var(--backgrounddlg) 100%);
    background: -webkit-linear-gradient(left, var(--backgroundlgr) 0%, var(--backgrounddlg) 100%); 
    border-radius: 6px;
    min-width: 270px;
    height: 65px;
    text-transform: capitalize;
    font-size: var(--fontsizemd);
    font-weight: lighter;  
}
.fadein  .a1{
    padding-left:20px;
    font-size: 18px;
}
.fadein  .a1 .circle{
    transition: .7s;
}
.fadein  .a1 .circle:hover{
    width: 20px;
    height: 20px;
    border: 1px solid var(--aqua);
    border-radius: 50px;
}
.of .img1{
    margin-left: 57px;
}
.of{
    margin-top: 270px;
}
.of h3{
    padding-left: 40px;
}
.of h1{
    
    letter-spacing: 0;
    font-size: 65px;
    padding-left: 40px;
}
.of p{
    font-size: 23px;
    padding-left: 40px;
}
.of .wrap{
    
    padding-left: 40px;
}
.image-section{
    
    position: relative;
}
.of .img3{
   position: absolute;
   right: 100px;
   top: -130px;
}
.of .img4{
    position: absolute;
    top: -290px;
    left: -250px;
}
.cst .icon span {
    border-radius: 100px;
    color: #2432a2;
    transform: rotate(180deg);
    font-size: 22px;
    line-height: 0px;
    display: block;
    position: relative;
    background: #ecf1fc;
    width: 60px;
    height: 60px;
    padding: 20px 19px;
    margin-bottom: 25px;
}
.cst .icon h3{
    width: 400px;
    color: #1f276e;
    font-size: 48px;
    text-transform: none;
    font-family:Zen Kaku Gothic New, sans-serif; 
    font-weight: 700;
    margin: 0 0 10px 0;
}
.cst{
    margin-top: 170px;
}
.cards_section .cb1{
    height: 360px;
    background: #fff;
    box-shadow: 0px 0px 30px rgb(0 0 0 / 10%);
    margin-bottom: 40px;
}
.cards_section .cb1 p{
    color: #384d70;
    font-size: 14px;
}
.cards_section .cb1 h3{
    color: var(--aqua);
}
.input_section{
    margin-top: 150px;
    margin-bottom: 50px;
}
.input_section h1{
    font-weight: 600;
    color: var(--purple);
    font-size: var(--fontsizelg);
    font-family:Zen Kaku Gothic New, sans-serif; 
}
.input_section p{
    color: var(--silver);
    font-size: 20px;
    margin: 20px auto; 
    font-family:Zen Kaku Gothic New, sans-serif; 
}
.eVmnGS {
    width: 100%;
    height: 4px;
    overflow: hidden;
    background-color: rgba(39, 92, 174, 0.3);
}
.dKXULb {
    height: 100%;
    width: 12.5%;
    background-color: rgb(39, 92, 174);
    transition: all 0.4s ease 0s;
}
.input_section2{
    width: 100%;
    margin-top: 180px;
    height: 300px;
}
.input_section2 h3{
    padding-left: 160px;
    color: var(--silver);
    font-size: 25px;
}
.input_section2 .input_btn{
    margin-top: 30px;
    margin-left: 220px;
}
.input_section2 .input_btn input{
    outline: none;
    border: none;
    width: 700px;
    font-size: 30px;
   font-weight: lighter;
   font-family:Zen Kaku Gothic New, sans-serif;  ;
    border-bottom: 1px solid var(--silver) ;
}
.input_section2 .width{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
}

.input_section2 .input_btn3{
   
    margin-top: 20px;
    margin-left: 220px;
    width: 80px;
    font-size: 18px;
    font-weight: bold;
    height: 40px;
    border: none;
    outline: none;
    border-radius: 5px;
    background-color: rgb(39, 92, 174);
    transition: .2s;
    cursor: pointer;
}
.input_section2 .input_btn3:hover{
    background-color: rgba(39, 92, 174, 0.3);
}
.input_section2 h6{
    color: var(--silver);
    padding-top: 20px;
    padding-left: 10px;
    
}
.input_top{
    padding-top: 100px;
}
.input_section2 .input_top .input_btn2{
    width: 180px;
    font-size: 15px;
    font-weight: bold;
    height: 40px;
    border: none;
    outline: none;
    border-radius: 5px;
    background-color: rgb(39, 92, 174);
    transition: .1s;
    cursor: pointer;
}
.input_section2 .input_top .input_btn2:hover{
    background-color: rgba(13, 87, 199, 0.3);
}

@media screen and (min-width:320px) and (max-width:600px){  

    .banner_main{
        min-height: 600px;
    } 
    .banner_section .bg_img .hidden{
        display: none;
    }
    .banner_section h1{
        padding-top: 90px;
        font-size: 40px; 
        line-height: 46px;
    }
    .banner_section p{
        font-size: var(--fontsizemd);
    }
    .banner_section button{
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .banner_section .a1{
      margin-left: 13px;
    }
    .contant_section{
       
        height: 500px;
    }
    .contant_section h1{
        font-size: 30px;
    }
    .contant_section .video{
        width: 300px;
    }
    .cards_section h1{
        font-size: 30px;
    }
    .cards_section .p1{
        width: auto;
    }
    .cards_section .a2{
        padding-top: 0;
    }
    .fadein img{
        display: none;
    }
    .fadein{
        margin-top: 180px;
    }
    .fadein h3{
        font-size: 23px;
    }
    .fadein h1{
        font-size: 26px;
        padding-top: 0;
        line-height: 27px;
    }
    .fadein p{
        font-size: 16px;
    }
    .fadein button{
        margin-left: 25px;
        margin-bottom: 20px;
    }
    .fadein .a1{
        margin-left: 40px;
    }
    .of{
        padding-left: 0;
        margin-top: 50px;
    }
    .of h3{
        padding-left: 15px; 
    }
    .of h1{
        padding-left: 15px;
    }
    .of p{
        padding-left: 15px;
    }
    .of .wrap{
        padding-left: 15px;
    }
    .cst .icon h3{
        width: auto;
        font-size: 30px;
    }
    .input_section h1{
        font-size: 20px;
    }
    .input_section2{
        height: auto;
    }
    .input_section2 h3{
        padding-left: 30px;
        font-size: 17px;
    }
    .input_section2 .input_btn{
        margin-left: 40px;
    }
    .input_section2 .input_btn input{
        width: 240px;
        font-size: 18px;
    }
    .input_section2 .input_btn3{
        margin-left: 40px;
    }
    .input_section2 h6{
      display: none;   
    }
    .input_section2 .input_top .input_btn2{
       margin-left: 90px;
    }
}
@media screen and (min-width:601px) and (max-width:770px){
    .banner_section .bg_img .hidden{
        display: none;
    }
    .fadein img{
        display: none;
    }
}
@media screen and (min-width:411px) and (max-width:823px){
    .banner_section .a1{
        margin-left: 37px;
      }
      .fadein{
          margin-top: 50px;
      }
    .fadein button{
        margin-left: 50px;
        margin-bottom: 20px;
    }
    .fadein .a1{
        margin-left: 60px;
    }
    .cst .icon h3{
        font-size: 25px;
    }
    .input_section2 .input_top .input_btn2{
        margin-left: 140px;
     }
}
@media screen and (min-width:768px) and (max-width:1023px){
    .banner_section .bg_img .hidden{
        display: none;
    }
    .contant_section .video{
        width: 700px;
    }
    .cards_section .p1{
        width:700px;
    }
    .cards_section .cards1 p{
        font-size: var(--fontsizesm);
    }
    .fadein img{
        display: none;
    }
    .of{
        padding-left: 0;
        margin-top: 50px;
    }
    .of h3{
        padding-left: 15px; 
    }
    .of h1{
        padding-left: 15px;
    }
    .of p{
        padding-left: 15px;
    }
    .of .wrap{
        padding-left: 15px;
    }
    .fadein button{
        margin-left: 10px;
    }
    .fadein .a1{
        margin-left: 0;
        padding-left: 10px;
    }
    .input_section h1{
        font-size: 20px;
    }
    .input_section2{
        height: auto;
    }
    .input_section2 h3{
        padding-left: 30px;
        font-size: 23px;
    }
    .input_section2 .input_btn{
        margin-left: 40px;
    }
    .input_section2 .input_btn input{
        width:540px;
        font-size: 23px;
    }
    .input_section2 .input_btn3{
        margin-left: 40px;
    }
    .input_section2 .input_top .input_btn2{
       margin-left: 300px;
    }
    .bh{
        background-color:var(--blue);
    }
}
@media screen and (min-width:1024px) and (max-width:1240px){
    
    .banner_section .bg_img .img1{
        width: 350px;
        top: 368px;
        left:110px ;
    }
    .banner_section .bg_img .img2{
        right: -32px;
        top: 320px;
        width: 600px; 
    }
    .banner_section .a1{
       font-size: var(--fontsizesm);
      }
    .of h3{
        padding-left: 15px; 
    }
    .of h1{
        padding-left: 15px;
    }
    .of p{
        padding-left: 15px;
    }
    .of .wrap{
        padding-left:0;
    }
    .fadein button{
        margin-left: 10px;
    }
    .fadein .a1{
        margin-left: 0;
        padding-left: 10px;
    }
    .fadein .image1{
        position: absolute;
        left: -100px;
    }
    .fadein button{
        margin-left: 0;
    }
    .of .img1{
        margin-left: 0;
        width: 495px;
        height: 700px;
    }
    .of .img4{
        position: absolute;
        top: -230px;
        left: -350px;
    }
    .cst .icon h3{
        width: auto;
    }
    .input_section h1{
        font-size: 30px;
    }
    .input_section2{
        height: auto;
    }
    .input_section2 h3{
        padding-left: 100px;
        font-size: 23px;
    }
    .input_section2 .input_btn{
        margin-left: 130px;
    }
    .input_section2 .input_btn input{
        width:640px;
        font-size: 30px;
    }
    .input_section2 .input_btn3{
        margin-left: 130px;
    }
    .input_top {
        position: relative;
    }
    .input_section2 .input_top .input_btn2{
       position: absolute;
       right: 10px;
    }
}
@media only screen and (min-width: 300px) and (max-width:700px){
    .bg {
        height:1500px!important;
        margin-top: 150px;
    }
    .banner-1 {
        padding-top: 80px !important;
    }
    .banner-1 .banner1 h1{
        font-size: 20px !important;
    }
    .banner-1 .banner1 p{
        font-size: 16px !important;
    }
    .banner-1 a{
        margin:0 !important;
        margin-top: 30px !important;
    }
}
@media only screen and (min-width: 768px) and (max-width:1023px){
    .banner-1 .banner1 h1{
        font-size: 40px;
    }
}
